2.1	Problem definition:

Predict denials of denial claims from history data

In [0]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)

Mounted at /content/gdrive

2.2	History Data Set 
Data in excel contains three tabs

	Tab-1 contains all attributes of the claims processed except Label   
	Tab-2 contains only Target variable (Label) of each row of Tab-1 data with one common attribute  
	Tab-3 contains all attribute list

2.3 Data Pre-processing 

1.Read Tab1- data set and Tab-2 Data set and create two panda data frames

2.Merge two data frames into one to place Label properly against each row.

3.Attributes of Tab-1 and Tab-2 are shown below

In [0]:
# Library Imports

import sys
print('python:{}'.format(sys.version))
import scipy as sp
print('scipy:{}'.format(sp.__version__))
import numpy as np
print('numpy:{}'.format(np.__version__))
import pandas as pd
print('pandas:{}'.format(pd.__version__))

python:3.6.9 (default, Nov  7 2019, 10:44:02)
[GCC 8.3.0]
scipy:1.4.1
numpy:1.18.2
pandas:1.0.3

In [0]:
# Data Reads - All required data is in data folders
InputFolder = '/content/gdrive/My Drive/capstone-project/input_data'
OutFolder = '/content/gdrive/My Drive/capstone-project/output_data'
inFile = InputFolder + '/ZCUPClaimDNA-History-Data-v2.xlsx'
df_history_dataset = pd.read_excel(inFile, 
                                   sheet_name='HistoryData',
                                   header=0,
                                   converters={'srlno':np.int64, 
                                               'Claim.Number':str,
                                               'Claim.Line.Number':str,
                                               'Member.ID':str,
                                               'Provider.ID':str,
                                               'Revenue.Code':str,
                                               'Service.Code':str,
                                               'Place.Of.Service.Code':str,
                                               'Procedure.Code':str,
                                               'Diagnosis.Code':str,
                                               'Claim.Charge.Amount':np.float64,
                                               'Denial.Reason.Code':str,
                                               'In.Out.Of.Network':str,
                                               'Subscriber.Payment.Amount':np.float64,
                                               'Provider.Payment.Amount':np.float64,
                                               'Claim.Type':str,
                                               'Claim.Subscriber.Type':str,
                                               'Claim.Current.Status':str,
                                               'Network.ID':str,
                                               'Agreement.ID':str
                                              })
df_labels_dataset = pd.read_excel(inFile, 
                                  sheet_name='Accept-Denial-Label', 
                                  header=0,
                                  converters={'srlno':np.int64, 
                                              'Label':np.int64
                                             })

df_data = pd.merge(df_history_dataset, df_labels_dataset, on='Srlno')

print(df_history_dataset.head())
print(df_labels_dataset.head())

print(df_history_dataset.describe())
print(df_labels_dataset.describe())

print(df_data.head())
print(df_data.describe())

   Srlno Claim.Number  ...    Network.ID  Agreement.ID
0      1     28849991  ...  P00000000002  FH001310QB01
1      2     81404290  ...  P00000000007  FH002451QPD1
2      3     81404290  ...  P00000000007  FH002451QPD1
3      4     81404290  ...  P00000000007  FH002451QPD1
4      5     81404290  ...  P00000000007  FH002451QPD1

[5 rows x 20 columns]
   Srlno  Label
0      1      0
1      2      0
2      3      0
3      4      0
4      5      0
               Srlno  ...  Provider.Payment.Amount
count  472559.000000  ...            472559.000000
mean   236280.000000  ...               299.664982
std    136416.177266  ...              2651.754222
min         1.000000  ...                 0.000000
25%    118140.500000  ...                 0.000000
50%    236280.000000  ...                 0.000000
75%    354419.500000  ...                 0.000000
max    472559.000000  ...            491735.224680

[8 rows x 4 columns]
               Srlno          Label
count  472559.000000  472559.000000
mean   236280.000000       0.004171
std    136416.177266       0.064448
min         1.000000       0.000000
25%    118140.500000       0.000000
50%    236280.000000       0.000000
75%    354419.500000       0.000000
max    472559.000000       1.000000
   Srlno Claim.Number Claim.Line.Number  ...    Network.ID  Agreement.ID Label
0      1     28849991                 1  ...  P00000000002  FH001310QB01     0
1      2     81404290                 1  ...  P00000000007  FH002451QPD1     0
2      3     81404290                 2  ...  P00000000007  FH002451QPD1     0
3      4     81404290                 3  ...  P00000000007  FH002451QPD1     0
4      5     81404290                 4  ...  P00000000007  FH002451QPD1     0

[5 rows x 21 columns]
               Srlno  ...          Label
count  472559.000000  ...  472559.000000
mean   236280.000000  ...       0.004171
std    136416.177266  ...       0.064448
min         1.000000  ...       0.000000
25%    118140.500000  ...       0.000000
50%    236280.000000  ...       0.000000
75%    354419.500000  ...       0.000000
max    472559.000000  ...       1.000000

[8 rows x 5 columns]

2.4 Find Shape and data type

In [0]:
print(df_data.shape)
dataTypeSeries = df_data.dtypes
print(dataTypeSeries)

(472559, 21)
Srlno                          int64
Claim.Number                  object
Claim.Line.Number             object
Member.ID                     object
Provider.ID                   object
Revenue.Code                  object
Service.Code                  object
Place.Of.Service.Code         object
Procedure.Code                object
Diagnosis.Code                object
Claim.Charge.Amount          float64
Denial.Reason.Code            object
In.Out.Of.Network             object
Subscriber.Payment.Amount    float64
Provider.Payment.Amount      float64
Claim.Type                    object
Claim.Subscriber.Type         object
Claim.Current.Status          object
Network.ID                    object
Agreement.ID                  object
Label                          int64
dtype: object

2.5	Target Value (Label) setting and cleaning

2.5.1    We will consider following valid Denial.Reason.Code F13, J8G, JO5, JB8, JE1, JC9, JF1, JF9, JG1, JPA and JES
The goal is to develop predictive model to predict claims that would be denied with the above Denial.Reason.Code only. Any row with non-valid Denial.Reason.Code will be considered as garbage that need to be deleted

In [0]:
print(df_data.groupby('Denial.Reason.Code')['Denial.Reason.Code'].count())

validReasonCodes = ['F13', 'J8G', 'JO5', 'JB8', 'JE1', 'JC9', 'JF1', 'JF9', 'JG1', 'JPA', 'JES']
df_data=df_data[(df_data['Denial.Reason.Code'].isin(validReasonCodes))]

print(df_data.groupby('Denial.Reason.Code')['Denial.Reason.Code'].count())

Denial.Reason.Code
F13    1068
J8G     382
JB8     128
JC9      49
JE1      33
JES      50
JF1       4
JF9      98
JG1      10
JO5     105
JPA      44
Name: Denial.Reason.Code, dtype: int64
Denial.Reason.Code
F13    1068
J8G     382
JB8     128
JC9      49
JE1      33
JES      50
JF1       4
JF9      98
JG1      10
JO5     105
JPA      44
Name: Denial.Reason.Code, dtype: int64

2.5.2   Check distribution of Label in terms of percentage 0/1

In [0]:
distLabels = (df_data['Label'].value_counts()/ df_data['Label'].count())*100
print('Distribution:\n{}'.format(distLabels))

Distribution:
1    100.0
Name: Label, dtype: float64

2.5.3   Find number of  distinct valid Denial.Reason.Code

In [0]:
print(df_data['Denial.Reason.Code'].unique())

['JB8' 'J8G' 'F13' 'JF1' 'JE1' 'JES' 'JO5' 'JG1' 'JPA' 'JC9' 'JF9']

2.6	Handling Predictor Variables
Predictors variables ( All input variables except Target variable)  that are used to predict the 'Target Variable'.

2.6.1  Identify

•	continuous numeric value
•	tag/code value
•	Other columns ID type.

2.6.2  Find

In [0]:
print(df_data['Revenue.Code'].unique())
print(df_data['Service.Code'].unique())
print(df_data['Diagnosis.Code'].unique())

['124' '250' '300' '301' '302' '434' '636' '730' '914' '305' '450' '306'
 '307' '121' '320' '126' '128' '261' '260' '920' '490' '750' '278' '272'
 '361' '370' '710' '331' '403' '270' '360' '310' '420' '771' '276' '610'
 '821' '510' '312' ' ' '134' '259' '206' '174' '324' '402' '483' '111'
 '200' '271' '275' '309' '311' '352' '390' '440' '410' '424' '444' '460'
 '740' '480' '481' '761' '921' '940' '122' '258' '351' '350' '430' '173'
 '210' '172' '634' '810' '811' '942' '112' '171' '720' '341' '343' '482'
 '731' '762' '117' '682' '249' '127']
['RM8W' 'AL7I' 'HV7I' 'ER7I' 'RM8I' 'SB7W' 'RT8I' 'RR8I' 'DU7O' 'IH7O'
 'SU7A' 'OP7O' 'LA7O' 'ER7O' 'MD7O' 'TE7O' 'RA7O' 'RL8Y' 'TH7O' 'IMY'
 'MR7Y' 'MR7O' 'DI7O' 'CL7O' 'GB7A' 'UNI' 'RM9I' 'IN7I' 'RB8I' 'NI7I'
 'RB7I' 'IC7I' 'CT7I' 'OE7I' 'RV8W' 'CC7I' 'RY8W' 'TO7W' 'RI7Y' 'RY7I'
 'RY8I' 'NS7I' 'RB7W' 'CT7O' 'RK8Y' 'CT8Y' 'CT7Y' 'OVV']
['2989' '29640' '29680' '2929' '29622' '29664' '29570' '30411' '29690'
 '29530' '29660' '29644' '29650' '29189' '29663' '29630' '29181' '30391'
 '29633' '29632' '486' '99741' '78701' '5533' '78659' '2189' 'V6284'
 '41401' '78057' '220' '42731' '72402' '1744' '7503' '53240' '61804'
 '82525' '78079' '24200' '1742' '64403' '2271' '78630' '6184' '193'
 '78900' '2181' '5409' '6181' '78650' '2875' '81209' '57410' '2410' 'V510'
 '217' '7804' '4359' '3682' '20240' '78906' '1550' '5609' '37943' '61801'
 '479' '5559' '3688' '5921' '8246' '27651' '7999' 'V1255' '1745' '6227'
 '7222' 'V202' 'V571' '80841' '1743' '81342' '6162' '38611' '3669' '1748'
 '57470' '7295' '55092' '6262' '6268' '6110' '2452' '72210' '55090' '6826'
 '6183' '52460' '6185' '226' '57450' '60001' '78499' '6170' '5193' '6146'
 '5362' '99812' '7840' '78903' '57400' '34290' '2273' '2182' '2891' '5856'
 'V7611' '61172' '2720' '72992' '1749' '52489' '27541' '34590' 'V5811'
 '6253' '72888' '6271' '73671' '179' '8024' '52403' '6121' 'V552' '2102'
 '5119' '80225' '75249' '6272' '5738' '4940' '2809' '57420' '55321' '7054'
 '1541' '5789' '5722' '6823' '6108' '64303' '2776' '99673' '5641' '33819'
 '57511' '2180' '78907' '78791' '5551' '78652' '2851' '5589' '5400'
 '57480' '45340' '2572' 'V5331' '6827' '78720' '53190' '78909' '6202'
 '99883' '6210' '37730' '2141' 'V08' '56211' '1809' '25201' '79389'
 'V7612' '68100' 'V5041' '5693' '6111' 'V7651' '4168' '1746' '7842' '8250'
 '9220' '4659' '61179' '72990' '29689' '99832' '42841' '51881' '99674'
 '845' '566' '72252' '43491' '3849' '389' '49322' '2910' '5941' '1985'
 '5712' '90' 'V3101' '53551' '71100' 'V5831' '67524' '2330' 'V045' '5070'
 '650' '7802' '430' '6824' '42741' '5770' '431' 'V3000' '9962' '7455'
 '65231' '64981' '42823' '75612' '73730' '99681' '65811' 'V5789' '62212'
 '4280' '9351' '73819' '65421' '59970' '56210' '78799' '64893' '9352'
 '2859' '30400' 'V6759' '1741' '49392' '2912' '34691' 'V700' '9950'
 '80703' '69589' '7226' '99676' '8600' '6868' '80126' '81305' '99563'
 '78901' '5711' '8248' '78722' '64844' '30501' '2920' '7384' '56032'
 '1960' '85011' '9726' '8832' '25002' '4377' '96501' '2777' '66111'
 '30300' '56400' '4321' '53550' '79095' '5303' '4589' '5289' '8500'
 '78009' '6100' '61189' '30500']

2.6.3  Handling Categorical Values

In [0]:
#2.6.3.1 Clubbing of Category Value (1 ,2,3 – High , Medium , Low possibility group respectively)

# Revenue Code
High_Revenue_Code = ["810", "811", "124", "261", "260", "331", "914", "174", "634", "173", "682", "126", "128", "172", "127", "200", "821", "134", "302", "740", "249", "270", "771", "361", "310", "434"]
Medium_Revenue_Code= ["210", "275", "122", "610", "206", "258", "444", "278", "117", "259", "121", "112", "276", "731", "750", "460", "360", "271", "730", "307", "424", "370", "250", "410", "940", "305", "350", "921", "480", "111", "351", "920", "636", "309", "300", "390", "301", "450", "440", "306", "311", "324", "710", "341", "272", "343", "942", "171", "482", "420", "490", "483", "312", "481", "352", "510", "402", "320", "720", "762", "761", "430", "403"]

df_data.loc[df_data['Revenue.Code'].isin(High_Revenue_Code), 'Revenue.Code.Group'] = 1
df_data.loc[df_data['Revenue.Code'].isin(Medium_Revenue_Code), 'Revenue.Code.Group' ] = 2
df_data.loc[~df_data['Revenue.Code'].isin(High_Revenue_Code + Medium_Revenue_Code), 'Revenue.Code.Group'] = 3
print(df_data['Revenue.Code.Group'].value_counts())

2.0    406424
3.0     42597
1.0     23538
Name: Revenue.Code.Group, dtype: int64

In [0]:
df_data.head(5)

  Claim.Number Claim.Line.Number  ... Diagnosis.Code.Group Label
0     28849991                 1  ...                  2.0     0
1     81404290                 1  ...                  2.0     0
2     81404290                 2  ...                  2.0     0
3     81404290                 3  ...                  2.0     0
4     81404290                 4  ...                  2.0     0

[5 rows x 20 columns]

In [0]:
# Service Code
High_Service_Code = ["UNI", "RL8Y", "RM8W", "DU7O", "IH7O", "RM8I", "RI7Y", "SB7W", "GB7A", "NI7I", "OVV", "RM9I", "RR8I", "IMY", "RT8I", "RY8W", "RY7I", "IC7I", "SU7A", "ER7I"]
Medium_Service_Code = ["TO7W", "TE7O", "CC7I", "HV7I", "MR7O", "IN7I", "AL7I", "DI7O", "CT8Y", "RB7W", "RV8W", "CT7I", "RB8I", "RK8Y", "RB7I", "OE7I", "RY8I", "OP7O", "LA7O", "NS7I", "CL7O", "MR7Y", "ER7O", "CT7Y", "CT7O", "RA7O", "MD7O", "TH7O"
]
df_data.loc[df_data['Service.Code'].isin(High_Service_Code), 'Service.Code.Group'] = 1
df_data.loc[df_data['Service.Code'].isin(Medium_Service_Code), 'Service.Code.Group'] = 2
df_data.loc[~df_data['Service.Code'].isin(High_Service_Code + Medium_Service_Code), 'Service.Code.Group'] = 3

print(df_data['Service.Code.Group'].value_counts())

2.0    368987
1.0     59900
3.0     43672
Name: Service.Code.Group, dtype: int64

In [0]:
# Diagnosis Code
High_Diagnosis_Code = ["2929", "29690", "V202", "29663", "29622", "9962", "67524", "5193", "V045", "29530", "7999", "430", "29664", "5711", "79095", "30411", "29189", "6162", "29570", "29630", "29644", "5289", "20240", "99741", "37943", "9352", "V08", "V1255", "V5041", "80225", "6108", "57480", "5070", "V6284", "52460", "8024", "99681", "V3101"]
Medium_Diagnosis_Code = ["75249", "71100", "29660", "78722", "2273", "6868", "64844", "73671", "37730", "61804", "6146", "V5831", "2989", "7503", "72992", "29181", "2452", "80841", "8250", "66111", "9950", "29640", "9220", "99563", "7222", "29650", "65811", "29632", "52403", "99676", "27541", "4168", "2102", "2182", "0090", "34691", "5738", "68100", "2776", "1809", "5362", "29633", "29680", "61801", "34290", "72990", "64981", "2912", "6170", "1746", "6183", "78499", "52489", "53551", "42823", "30501", "3682", "V3000", "7226", "64303", "24200", "8832", "57470", "9726", "29689", "5409", "8248", "73730", "2181", "57450", "85011", "6121", "64893", "6253", "99883", "96501", "193", "53190", "6268", "42841", "226", "57400", "4280", "1960", "69589", "2777", "2180", "1743", "1742", "179", "6110", "6272", "60001", "53240", "V552", "6827", "5559", "6185", "8600", "81305", "07054", "0479", "45340", "6824", "5551", "38611", "5941", "2271", "72888", "80703", "6227", "6823", "6184", "4377", "62212", "72210", "2891", "5533", "5722", "8246", "V510", "6111", "2572", "2720", "5789", "55321", "3688", "2189", "2410", "1541", "5856", "65231", "6262", "5609", "5641", "7455", "1550", "2875", "220", "78720", "30300", "81209", "566", "99812", "56032", "4321", "1745", "78630", "5119", "5400", "34590", "57511", "30400", "4940", "5770", "25201", "75612", "78057", "6181", "61179", "1749", "27651", "73819", "78799", "00845", "56400", "99832", "5712", "4589", "42741", "78701", "4659", "57420", "30500", "7804", "30391", "5693", "1744", "6100", "41401", "55092", "5589", "61172", "99674", "1741", "61189", "49392", "82525", "9351", "V5331", "2910", "78901", "5303", "80126", "6271", "2141", "7842", "59970", "25002", "78791", "1748", "8500", "78900", "217", "1985", "79389", "42731", "78906", "99673", "7384", "78009", "650", "6210", "51881", "81342", "78659", "72402", "56210", "2851", "49322", "486", "55090", "2920", "56211", "V700", "57410", "4359", "5921", "03849", "78903", "53550", "7840", "2330", "64403", "33819", "6826", "78907", "V5811", "6202", "78652", "431", "V6759", "78079", "72252", "7802", "2809", "V7651", "7295", "78650", "65421", "0389", "43491", "78909", "2859", "V7611", "V7612", "3669", "V5789", "V571"]

df_data.loc[df_data['Diagnosis.Code'].isin(High_Diagnosis_Code), 'Diagnosis.Code.Group'] = 1
df_data.loc[df_data['Diagnosis.Code'].isin(Medium_Diagnosis_Code), 'Diagnosis.Code.Group'] = 2,
df_data.loc[~df_data['Diagnosis.Code'].isin(High_Diagnosis_Code + Medium_Diagnosis_Code), 'Diagnosis.Code.Group'] = 3

print(df_data['Diagnosis.Code.Group'].value_counts())

2.0    236381
3.0    232802
1.0      3376
Name: Diagnosis.Code.Group, dtype: int64

In [0]:
print(df_data['Revenue.Code.Group'].unique())
print(df_data['Service.Code.Group'].unique())
print(df_data['Diagnosis.Code.Group'].unique())

[1. 3. 2.]
[1. 2. 3.]
[2. 1. 3.]

2.6.4          Find column wise missing value in percentage

In [0]:
percent_missing = df_data.isnull().sum() *100 / len(df_data)
print(percent_missing)

Srlno                         0.000000
Claim.Number                 36.825666
Claim.Line.Number             0.000000
Member.ID                     0.000000
Provider.ID                   0.000000
Revenue.Code                  0.000000
Service.Code                  0.000000
Place.Of.Service.Code         0.000000
Procedure.Code                0.000000
Diagnosis.Code                0.000000
Claim.Charge.Amount           0.000000
Denial.Reason.Code            0.000000
In.Out.Of.Network             0.000000
Subscriber.Payment.Amount     0.000000
Provider.Payment.Amount       0.000000
Claim.Type                    0.000000
Claim.Subscriber.Type         0.000000
Claim.Current.Status          0.000000
Network.ID                    0.000000
Agreement.ID                  0.000000
Label                         0.000000
Revenue.Code.Group            0.000000
Service.Code.Group            0.000000
Diagnosis.Code.Group          0.000000
dtype: float64

2.6.5	       Find Duplicate rows and drop those

In [0]:
df_data=df_data.drop_duplicates(subset=None, keep = 'first', inplace=False)

2.6.6	       Drop all useless columns – not required for Machine learning

In [0]:
Useless_columns = ['Srlno', 'Revenue.Code', 'Service.Code', 'Diagnosis.Code']
df_data.drop(Useless_columns, axis = 1, inplace=True)

In [0]:
# rearrange columns - so label will be in the last column
df_data = df_data[['Claim.Number', 'Claim.Line.Number', 'Member.ID', 'Provider.ID',
       'Place.Of.Service.Code', 'Procedure.Code', 'Claim.Charge.Amount',
       'Denial.Reason.Code', 'In.Out.Of.Network', 'Subscriber.Payment.Amount',
       'Provider.Payment.Amount', 'Claim.Type', 'Claim.Subscriber.Type',
       'Claim.Current.Status', 'Network.ID', 'Agreement.ID', 
       'Revenue.Code.Group', 'Service.Code.Group', 'Diagnosis.Code.Group', 'Label',]]

2.6.7	       Check distribution of Label in terms of percentage 0/1

In [0]:
distLabels = (df_data['Label'].value_counts()/ df_data['Label'].count())*100
print(distLabels)

0    99.582909
1     0.417091
Name: Label, dtype: float64

2.6.8	       Write processed and clean data set  to a csv file

In [0]:
df_data.to_csv(OutFolder+"/CleanData.csv",index=False)